<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="webPGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="webPGUI4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <webPGUI.Properties.Settings>
            <setting name="q" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="alpha_q" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="preset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lossless" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="z" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="m" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="segments" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="size" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="sns" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="f" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="sharpness" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="strong" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="partition_limit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="pass" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="crop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="resize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="low_memory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="map" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="print_psnr" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="print_ssim" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="print_lsim" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="d" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="alpha_method" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="alpha_filter" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="exact" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="blend_alpha" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="blend_alpha_color" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="noalpha" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="near_lossless" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="hint" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="shortshort" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="quiet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="noasm" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="v" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="progress" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="jpeg_like" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="af" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MustUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="psnrval" serializeAs="String">
                <value>42</value>
            </setting>
            <setting name="psnr" serializeAs="String">
                <value>False</value>
            </setting>
        </webPGUI.Properties.Settings>
        <webPGUI4.Properties.Settings>
            <setting name="q" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="alpha_q" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="preset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lossless" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="z" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="m" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="segments" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="size" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sns" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="f" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="sharpness" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="strong" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="partition_limit" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="pass" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="crop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="resize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="low_memory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="map" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="print_psnr" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="print_ssim" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="print_lsim" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="d" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="alpha_method" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="alpha_filter" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="exact" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="blend_alpha" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="blend_alpha_color" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="noalpha" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="near_lossless" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="hint" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="shortshort" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="quiet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="noasm" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="v" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="progress" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="jpeg_like" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="af" serializeAs="String">
                <value>False</value>
            </setting>
        </webPGUI4.Properties.Settings>
    </userSettings>
</configuration>